.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.sidebar {
  width: 300px;
  background-color: rgb(247, 247, 247);
  padding: 0 0.5rem;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(236, 236, 236);
}

.graphContainer {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  justify-content: stretch;
}
